.btn {
      border: solid white 1px;
      width: 200px;
      height: 20px;
      color: white;
      text-align: center;
}

body{
      height: 100%;
      width: 100%;
      background-color: rgb(56, 58, 61);
}