
.visualiser-container{
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.bars-container{
      display: flex;
      height: 700px;
      width: 70%;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: 50px;
}

.number-bar{
      background-color: #5b62c0;
      width: 5px;
      margin: 0 1px;
}

#stop{
      visibility: hidden;
}